@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply font-sans;
    font-family: "Montserrat", sans-serif;
  }
}

@layer utilities {
  .nav-bg {
    background-color: rgb(52, 52, 52);
  }

  .main-bg {
    background-color: #f7f7f7;
  }

  .center {
    display: flex;
    align-items: center;
  }

  .nav-text-cl {
    color: #f8f4e1;
  }

  .text-cl {
    color: #f5efff;
  }

  .button-cl {
    background-color: #8f9779;
    border-color: #8f9779;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}
